@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  h4,
  button,
  input {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    height: auto;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 16px;
    font-style: italic;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

@layer base {
  @layer root {
    :root {
      /* ===== Primitives ===== */
      --clr-white: hsl(0, 0%, 100%);
      --clr-red-50: hsl(13, 100%, 96%);
      --clr-red-300: hsl(12, 91%, 72%);
      --clr-red-500: hsl(12, 88%, 59%);
      --clr-red-600: hsl(0, 100%, 50%);
      --clr-gray-50: hsl(0, 0%, 98%);
      --clr-gray-500: hsl(0, 0%, 55%);
      --clr-blue-400: hsl(227, 12%, 61%);
      --clr-blue-800: hsl(228, 39%, 23%);
      --clr-blue-900: hsl(233, 12%, 13%);

      --fs-xs: 0.625rem;
      --fs-sm: 0.8125rem;
      --fs-md: 0.9375rem;
      --fs-base: 1rem;
      --fs-lg: clamp(1.875rem, 1.655rem + 0.939vi, 2.5rem);
      --fs-xl: clamp(2.5rem, 2.148rem + 1.502vi, 3.5rem);

      --ff-be-vietnam-pro: 'Be Vietnam Pro', sans-serif;
      --lh-base: 1.62;
      --lh-heading: 1.14;

      /* ===== Design Tokens ===== */
      --color-primary: var(--clr-blue-800);
      --color-primary-dark: var(--clr-blue-900);
      --color-secondary: var(--clr-red-500);
      --color-accent: var(--clr-red-300);
      --color-surface-accent: var(--clr-red-50);
      --color-error: var(--clr-red-600);
      --color-surface: var(--clr-gray-50);
      --color-text: var(--clr-gray-500);
      --color-white: var(--clr-white);

      --font-size-xs: var(--fs-xs);
      --font-size-sm: var(--fs-sm);
      --font-size-md: var(--fs-md);
      --font-size-base: var(--fs-base);
      --font-size-lg: var(--fs-lg);
      --font-size-xl: var(--fs-xl);

      --line-height-body: var(--lh-base);
      --line-height-heading: var(--lh-heading);
      --ff-base: var(--ff-be-vietnam-pro);

      --radius-interactive: 1.375rem;
      --radius-pill: 2.4375rem;

      --tracking-tight-lg: -0.0625rem;
      --tracking-tight-md: -0.0387rem;
      --tracking-tight-sm: -0.0181rem;

      @media (width > 54.375rem) {
        --tracking-tight-md: -0.0444rem;
      }
    }
  }

  @layer general-styling {
    body {
      --text-opacity: 0.525;
      color: hsl(from var(--color-primary) h s l / var(--text-opacity));
      font-family: var(--ff-base);
      line-height: var(--line-height-body);
    }

    h1 {
      line-height: var(--line-height-heading);
    }

    h1,
    h2,
    h3 {
      color: var(--color-primary);
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

@layer layout {
  .flow > * + * {
    margin-block-start: var(--flow-space, 1rem);
  }

  .wrapper {
    --wrapper-max-width: 69.375rem;
    --wrapper-padding: var(--section-padding, 3rem);

    inline-size: min(100% - var(--wrapper-padding), var(--wrapper-max-width));
    margin-inline: auto;

    &[data-width='full-bleed'] {
      --wrapper-max-width: 90rem;
      --wrapper-padding: 0rem;
    }
  }

  /* Creates a two-column grid layout with equal-width columns
   Stacks to single column on mobile devices */
  .equal-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--grid-column-spacing);
    row-gap: var(--grid-row-spacing);

    @media (width < 870px) {
      grid-template-columns: 1fr;
    }
  }
}

@layer components {
  .skip-to-main {
    position: fixed;
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 0.625rem 1.25rem;
    inset-inline-start: 50%;
    inset-block-start: 1rem;
    transform: translateX(-50%) translateY(-120%);
    border-radius: 0.5rem;
    transition: transform 0.2s ease-in-out;
    z-index: 9999;
  }

  .skip-to-main:focus {
    transform: translateX(-50%) translateY(0);
    outline: 0.125rem solid var(--color-secondary);
  }

  .skip-to-main:not(:focus) {
    position: absolute;
    block-size: 0.0625rem;
    inline-size: 0.0625rem;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
    overflow: hidden;
  }

  .site-header {
    padding-block-start: 3rem;

    @media (width > 870px) {
      padding-block-start: 3.5rem;
    }
  }

  .site-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  [aria-controls='primary-nav'] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    block-size: 1.125rem;
    inline-size: 1.5rem;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;

    @media (width >= 870px) {
      display: none;
    }
  }

  .line {
    display: block;
    inline-size: 100%;
    block-size: 0.25rem;
    background-color: var(--color-primary-dark);
    transition: transform, opacity 0.3s ease-in-out;
  }

  [aria-expanded='true'] .line {
    &:nth-child(1) {
      transform: translate(0, 6px) rotate(-45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: translate(0, -6px) rotate(45deg);
    }
  }

  .primary-navigation {
    ul {
      display: flex;
      color: var(--color-primary);
      gap: 2rem;
      flex-wrap: wrap;
    }

    ul li:hover {
      opacity: 0.5;
      transition: opacity 0.2s ease-in-out;
    }

    @media (width < 870px) {
      display: none;

      + .button {
        display: none;
      }
    }
  }

  .button {
    --shadow-sm: 0 4px 4px hsla(from var(--color-secondary) h s l / 0.4);
    --shadow-md: 0 6px 4px hsla(from var(--color-accent) h s l / 0.5);

    display: inline-flex;
    color: var(--color-white);
    background-color: var(--color-secondary);
    padding: 0.75rem 2rem;
    font-size: var(--font-size-sm);
    font-weight: 700;
    border-radius: var(--radius-interactive);
    filter: drop-shadow(var(--shadow-sm));
    transition: filter, background-color 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: var(--color-accent);
      filter: drop-shadow(var(--shadow-md));
    }

    &:focus-visible {
      outline: 0.125rem solid var(--color-primary-dark);
      outline-offset: 0.125rem;
    }
  }

  .button--white {
    background-color: var(--color-white);
    color: var(--color-secondary);
  }

  .hero {
    --grid-column-spacing: 1.875rem;
    --grid-row-spacing: 1.25rem;
    margin-block-start: var(--section-block-start, 3rem);

    h1 {
      font-size: var(--font-size-xl);
      letter-spacing: var(--tracking-tight-lg);
    }

    p {
      margin-block: 0.5rem 1.75rem;
    }

    @media (width > 870px) {
      --section-block-start: 120px;

      .hero__img-wrapper {
        order: 1;
      }

      p {
        margin-block: 1rem 2.5rem;
        max-inline-size: 32ch;
      }
    }
  }

  .features {
    --flow-space: 2.5rem;
    --grid-row-spacing: 3.5rem;
    --section-padding: 2rem;
    margin-block-start: var(--section-block-start, 5.75rem);
    overflow: clip;

    .features__title {
      margin-block-end: 0.75rem;
      font-size: var(--font-size-lg);
      font-weight: 800;
      letter-spacing: var(--tracking-tight-md);
    }

    @media (width > 870px) {
      --section-padding: initial;
      --section-block-start: 8.25rem;

      .features__title {
        margin-block-end: 1.5rem;
        font-weight: 700;
      }

      .features__body {
        max-width: 32ch;
      }
    }
  }

  .feature {
    --count-height: 2.5rem;
    --count-width: 4.25rem;

    position: relative;
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: var(--content-gap, 0.5rem 1rem);

    /* Renders the light red background (mobile only) */
    @media (width < 870px) {
      &::before {
        content: '';
        position: absolute;
        inset-inline-start: 2rem;
        inline-size: 100%;
        block-size: var(--count-height);
        background-color: var(--color-surface-accent);
        border-start-start-radius: var(--radius-pill);
        border-end-start-radius: var(--radius-pill);
        z-index: -1;
      }
    }

    .feature__count {
      display: inline-block;
      block-size: var(--count-height);
      inline-size: var(--count-width);
      text-align: center;
      color: var(--color-white);
      background-color: var(--color-secondary);
      font-weight: 700;
      line-height: var(--count-height);
      letter-spacing: var(--tracking-tight-sm);
      border-radius: var(--radius-pill);
    }

    .feature__title {
      font-size: var(--font-size-base);
      letter-spacing: var(--tracking-tight-sm);
      align-self: center;
    }

    .feature__body {
      grid-column: 1 / -1;
    }

    @media (width > 870px) {
      --content-gap: 1.25rem 1.75rem;

      .feature__body {
        grid-column: 2 / -1;
      }
    }
  }
}

@layer utilities {
  [hidden] {
    display: none;
  }

  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    inline-size: 0.0625rem;
    block-size: 0.0625rem;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }

  .text-c-s {
    text-align: center;

    @media (width > 870px) {
      text-align: start;
    }
  }

  .self-center {
    align-self: center;
  }
}
