@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  h4,
  button,
  input {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    height: auto;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
    font-style: italic;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

@layer base {
  @layer root {
    :root {
      /* ===== Primitives ===== */
      --clr-white: hsl(0, 0%, 100%);
      --clr-red-50: hsl(13, 100%, 96%);
      --clr-red-300: hsl(12, 91%, 72%);
      --clr-red-500: hsl(12, 88%, 59%);
      --clr-red-600: hsl(0, 100%, 50%);
      --clr-gray-50: hsl(0, 0%, 98%);
      --clr-gray-500: hsl(0, 0%, 55%);
      --clr-blue-400: hsl(227, 12%, 61%);
      --clr-blue-800: hsl(228, 39%, 23%);
      --clr-blue-900: hsl(233, 12%, 13%);

      --fs-xs: 0.625rem;
      --fs-sm: 0.8125rem;
      --fs-md: 0.9375rem;
      --fs-base: 1rem;
      --fs-lg: clamp(1.875rem, 1.655rem + 0.939vi, 2.5rem);
      --fs-xl: clamp(2.5rem, 2.148rem + 1.502vi, 3.5rem);
      --fs-xxl: 2.5rem;

      --ff-be-vietnam-pro: 'Be Vietnam Pro', sans-serif;
      --lh-base: 1.62;
      --lh-heading: 1.14;

      /* ===== Design Tokens ===== */
      --color-primary: var(--clr-blue-800);
      --color-primary-dark: var(--clr-blue-900);
      --color-secondary: var(--clr-red-500);
      --color-accent: var(--clr-red-300);
      --color-surface-accent: var(--clr-red-50);
      --color-surface: var(--clr-gray-50);
      --color-error: var(--clr-red-600);
      --color-placeholder: var(--clr-gray-500);
      --color-white: var(--clr-white);

      --font-size-xs: var(--fs-xs);
      --font-size-sm: var(--fs-sm);
      --font-size-md: var(--fs-md);
      --font-size-base: var(--fs-base);
      --font-size-lg: var(--fs-lg);
      --font-size-xl: var(--fs-xl);
      --font-size-xxl: var(--fs-xxl);

      --line-height-body: var(--lh-base);
      --line-height-heading: var(--lh-heading);
      --ff-base: var(--ff-be-vietnam-pro);

      --radius-interactive: 1.375rem;
      --radius-pill: 2.4375rem;

      --tracking-tight-xxs: -0.0063rem;
      --tracking-tight-xs: -0.0144rem;
      --tracking-tight-sm: -0.0181rem;
      --tracking-tight-md: -0.0387rem;
      --tracking-tight-lg: -0.0625rem;

      @media (width > 54.375rem) {
        --tracking-tight-md: -0.0444rem;
      }
    }
  }

  @layer general-styling {
    body {
      --text-opacity: 0.525;
      color: hsl(from var(--color-primary) h s l / var(--text-opacity));
      font-family: var(--ff-base);
      line-height: var(--line-height-body);

      /* background-image: url('/images/bg-tablet-pattern.svg');
      background-repeat: no-repeat;
      background-position: left 12vw top -17vw;
      background-size: 110%;

      @media (640px <= width <= 870px) {
        background-position: left 23vw top -21vw;
        background-size: 47rem;
      }

      @media (width > 870px) {
        background-position: left 56vw top -197px;
        background-size: unset;
      } */
    }

    h1 {
      line-height: var(--line-height-heading);
    }

    h1,
    h2,
    h3 {
      color: var(--color-primary);
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

@layer layout {
  .flow > * + * {
    margin-block-start: var(--flow-space, 1rem);
  }

  .wrapper {
    --wrapper-max-width: 69.375rem;
    --wrapper-padding: var(--section-padding, 3rem);

    inline-size: min(100% - var(--wrapper-padding), var(--wrapper-max-width));
    margin-inline: auto;

    &[data-width='full-bleed'] {
      --wrapper-max-width: 90rem;

      @media (width > 1110px) {
        --wrapper-padding: 0rem;
      }
    }
  }

  /* Creates a two-column grid layout with equal-width columns
   Stacks to single column on mobile devices */
  .equal-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--grid-column-spacing);
    row-gap: var(--grid-row-spacing);

    @media (width < 870px) {
      grid-template-columns: 1fr;
    }
  }
}

@layer components {
  .skip-to-main {
    position: fixed;
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 0.625rem 1.25rem;
    inset-inline-start: 50%;
    inset-block-start: 1rem;
    transform: translateX(-50%) translateY(-120%);
    border-radius: 0.5rem;
    transition: transform 0.2s ease-in-out;
    z-index: 9999;
  }

  .skip-to-main:focus {
    transform: translateX(-50%) translateY(0);
    outline: 0.125rem solid var(--color-secondary);
  }

  .skip-to-main:not(:focus) {
    block-size: 0.0625rem;
    inline-size: 0.0625rem;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
    overflow: hidden;
  }

  .site-header {
    padding-block-start: 3rem;

    @media (width > 870px) {
      padding-block-start: 3.5rem;
    }
  }

  .site-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  [aria-controls='primary-nav'] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    block-size: 1.125rem;
    inline-size: 1.5rem;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;

    @media (width >= 870px) {
      display: none;
    }
  }

  .line {
    display: block;
    inline-size: 100%;
    block-size: 0.25rem;
    background-color: var(--color-primary-dark);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  [aria-expanded='true'] .line {
    &:nth-child(1) {
      transform: translate(0, 6px) rotate(-45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: translate(0, -6px) rotate(45deg);
    }
  }

  .primary-navigation {
    ul {
      display: flex;
      color: var(--color-primary);
      gap: 2rem;
      flex-wrap: wrap;
    }

    ul li:hover {
      opacity: 0.5;
      transition: opacity 0.2s ease-in-out;
    }

    @media (width < 870px) {
      display: none;

      + .button {
        display: none;
      }
    }
  }

  .button {
    --shadow-sm: 0 4px 4px hsla(from var(--color-secondary) h s l / 0.4);
    --shadow-md: 0 6px 4px hsla(from var(--color-accent) h s l / 0.5);
    --button-padding: 0.75rem 2rem;

    display: inline-flex;
    color: var(--button-text-color, var(--color-white));
    background-color: var(--button-bg, var(--color-secondary));
    padding: var(--button-padding);
    font-size: var(--font-size-sm);
    font-weight: 700;
    border-radius: var(--radius-interactive);
    filter: drop-shadow(var(--shadow-sm));
    transition: filter, background-color 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: var(--button-hover-bg, var(--color-accent));
      filter: drop-shadow(var(--shadow-md));
    }

    &:focus-visible {
      outline: 0.125rem solid var(--color-primary-dark);
      outline-offset: 0.125rem;
    }
  }

  .button--white {
    --button-bg: var(--color-white);
    --button-text-color: var(--color-secondary);
    filter: none;

    &:hover {
      --button-hover-bg: var(--clr-white);
      color: hsla(from var(--color-secondary) h s l / 0.5);
    }
  }

  .hero {
    --grid-column-spacing: 1.875rem;
    --grid-row-spacing: 1.25rem;
    margin-block-start: var(--section-block-start, 3rem);
    position: relative;

    /* Round pink overlay background (mobile ONLY) */
    /* @media (width < 870px) {
      &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: url('/images/bg-tablet-pattern.svg');
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 70%;
        transform: translate(65vw, 18vw);
        z-index: -1;
      }
    } */

    .hero__text {
      align-self: center;

      h1 {
        font-size: var(--font-size-xl);
        letter-spacing: var(--tracking-tight-lg);
      }

      p {
        margin-block: 0.5rem 1.75rem;
      }
    }

    @media (width > 870px) {
      --section-block-start: 120px;

      .hero__img-wrapper {
        order: 1;
      }

      .hero__text p {
        margin-block: 1rem 2.5rem;
        max-inline-size: 32ch;
      }
    }
  }

  .features {
    --flow-space: 2.5rem;
    --grid-row-spacing: 3.5rem;
    --section-padding: 2rem;
    margin-block-start: var(--section-block-start, 5.75rem);
    overflow: hidden;

    .features__title {
      margin-block-end: 0.75rem;
      font-size: var(--font-size-lg);
      font-weight: 800;
      letter-spacing: var(--tracking-tight-md);
    }

    @media (width > 870px) {
      --section-padding: initial;
      --section-block-start: 8.25rem;

      .features__title {
        margin-block-end: 1.5rem;
        font-weight: 700;
      }

      .features__body {
        max-width: 32ch;
      }
    }
  }

  .feature {
    --count-height: 2.5rem;
    --count-width: 4.25rem;

    position: relative;
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: var(--content-gap, 0.5rem 1rem);

    /* Renders the light red background (mobile only) */
    /* @media (width < 870px) {
      &::before {
        content: '';
        position: absolute;
        inset-inline-start: 2rem;
        inline-size: 100%;
        block-size: var(--count-height);
        background-color: var(--color-surface-accent);
        border-start-start-radius: var(--radius-pill);
        border-end-start-radius: var(--radius-pill);
        z-index: -1;
      }
    } */

    .feature__count {
      display: inline-block;
      block-size: var(--count-height);
      inline-size: var(--count-width);
      text-align: center;
      color: var(--color-white);
      background-color: var(--color-secondary);
      font-weight: 700;
      line-height: var(--count-height);
      letter-spacing: var(--tracking-tight-sm);
      border-radius: var(--radius-pill);
    }

    .feature__title {
      font-size: var(--font-size-base);
      letter-spacing: var(--tracking-tight-sm);
      align-self: center;
    }

    .feature__body {
      grid-column: 1 / -1;
    }

    @media (width > 870px) {
      --content-gap: 1.25rem 1.75rem;

      .feature__body {
        grid-column: 2 / -1;
      }
    }
  }

  .testimonials {
    --section-padding: 2.25rem;
    text-align: center;
    margin-block-start: var(--section-block-start, 4rem);

    .testimonial-title {
      font-size: var(--font-size-lg);
    }

    .button {
      margin-block-start: 3rem;
    }

    @media (width > 870px) {
      --section-block-start: 9rem;
    }
  }

  .glide__slide {
    padding-block-start: 4rem;

    @media (width > 1110px) {
      padding-block-start: 6.25rem;
    }
  }

  .glide__bullets {
    @media (width > 870px) {
      display: none;
    }
  }

  .glide__bullet {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    padding: 0;
    background-color: transparent;
    border: 1px solid var(--color-secondary);
  }

  .glide__bullet--active {
    background-color: var(--color-secondary);
  }

  .testimonials__card {
    position: relative;
    min-block-size: 13.75rem;
    background-color: var(--color-surface);

    img {
      position: absolute;
      transform: translate(-50%, -50%);
      inline-size: 4.5rem;
    }

    .testimonials__text {
      display: flex;
      flex-direction: column-reverse;
      row-gap: 1.25rem;
      padding-inline: 1.25rem;
      padding-block-start: 3.75rem;

      p {
        max-width: 60ch;
        margin-inline: auto;
      }

      cite {
        color: var(--color-primary);
        font-style: normal;
        font-weight: 700;
        letter-spacing: var(--tracking-tight-sm);
      }

      @media (width > 870px) {
        padding-inline: 2.5rem;
      }
    }
  }
}

.cta {
  --section-padding: 4rem;
  background-color: var(--color-secondary);
  margin-block-start: var(--section-block-start, 4rem);
  padding-block: 5.75rem;

  .cta-wrapper {
    display: grid;
    row-gap: 1.75rem;
  }

  .cta-title {
    font-size: var(--font-size-xxl);
    color: var(--color-white);
  }

  .button {
    justify-self: center;
  }

  @media (width > 870px) {
    --section-block-start: 11.25rem;

    .cta-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }

    .button {
      justify-self: end;
      align-self: center;
    }
  }
}

.footer {
  --section-padding: 0; /* Removes section default padding */
  background-color: var(--color-primary-dark);
  padding-block: 3.25rem 1.75rem;

  .footer__content {
    display: grid;
    row-gap: 3.375rem;
    max-inline-size: 40rem;
  }

  .footer__form .form-group {
    --text-padding-start: 1rem; /* placeholder and error text padding */
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: 0.25rem 0.5rem;
    padding-inline: var(--form-inline-padding, 1.5rem);

    input[type='email'] {
      font-size: var(--font-size-sm);
      border-radius: var(--radius-interactive);
      padding-inline-start: var(--text-padding-start);
      letter-spacing: var(--tracking-tight-xxs);
      border: 0;

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px var(--color-secondary);
      }

      &::placeholder {
        color: var(--color-placeholder);
      }

      &:invalid:not(:placeholder-shown) {
        color: var(--color-error);
        box-shadow: 0 0 0 2px var(--color-error);
      }

      &:invalid:not(:placeholder-shown) + p {
        opacity: 1;
      }
    }

    p {
      grid-column: 1 / -1;
      grid-row: 2;
      color: var(--color-error);
      font-style: italic;
      font-size: var(--font-size-xs);
      padding-inline-start: var(--text-padding-start);
      opacity: 0;
    }

    button[type='submit'] {
      --shadow-sm: none;
      --shadow-md: none;
      border: 0;
    }
  }

  .footer__navigation {
    display: flex;
    justify-content: space-between;
    color: var(--color-white);
    padding-inline: var(--footer-nav-padding, 4rem 3rem);
    font-size: var(--font-size-md);
    letter-spacing: var(--tracking-tight-xs);

    ul {
      display: grid;
      align-self: start;
      gap: 0.75rem;

      a:hover,
      a:focus-visible {
        color: var(--color-secondary);
        transition: color 0.2s ease-in-out;
      }
    }
  }

  .footer__brand {
    display: flex;
    flex-direction: column;
    row-gap: 3.25rem;
    padding-inline: var(--footer-brand-padding, 2.5rem);

    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .footer__brand-social {
      display: flex;
      justify-content: space-between;
      gap: 0.75rem;

      .social-icon {
        inline-size: 2rem;

        &:hover path {
          fill: var(--color-secondary);
          transition: fill 0.2s ease-in-out;
        }
      }
    }
  }

  .footer__copyright {
    color: hsla(from var(--color-white) h s l / 0.5);
    text-align: center;
    font-size: var(--font-size-sm);
    letter-spacing: var(--tracking-tight-xs);
  }

  @media (width > 870px) {
    --section-padding: unset;
    padding-block: 3.75rem;

    .footer__content {
      grid-template-columns: repeat(3, 1fr) 1.2fr;
      column-gap: 1.875rem;
      row-gap: 0;
      max-inline-size: unset;
    }

    .footer__form {
      --form-inline-padding: 0;
      grid-column: 4 / -1;
    }

    .footer__navigation {
      --footer-nav-padding: 0;
      justify-content: flex-start;
      grid-column: 2 / -2;
      grid-row: 1 / 3;

      ul {
        flex: 0 1 15.9375rem;
      }
    }

    .footer__brand {
      --footer-brand-padding: 0;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: flex-start;
      grid-column: 1 / -4;
      grid-row: 1 / 3;

      .footer__brand-social .social-icon {
        width: 1.25rem;
      }
    }

    .footer__copyright {
      text-align: end;
      align-self: end;
      grid-column: 4 / -1;
    }
  }
}

@layer utilities {
  [hidden] {
    display: none;
  }

  .resizing * {
    transition: none;
    animation-play-state: paused;
  }

  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    inline-size: 0.0625rem;
    block-size: 0.0625rem;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }

  .text-c-s {
    text-align: center;

    @media (width > 870px) {
      text-align: start;
    }
  }
}
